body {
  background-color: #ffffff;
}

#wrapper {
  width: 1000px;
  background-color: #C9CFC3;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: span 12;
  width: 1000px;
  background-color: #C9CFC3;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav {
  grid-column: span 12;
}

nav a {
  grid-column: span 12;
  color: #3A260C;
  font-family: 'Barlow', sans-serif;
  margin: 0px 0px 10px 99px;
  font-size: 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  transition: background-color .25s, color .25s;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

.h1 {
  text-align: center;
  color: #3A260C;
  margin: 10px 0px 0px 97px;
  font-size: 40px !important;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  font-family:'Barlow', sans-serif;
}

h1 {
  grid-column: span 12;
  text-align: center;
  color: #3A260C;
  margin: 50px 0px 30px 310px;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  font-family:'Barlow', sans-serif;
}


h2 {
  font-family:'Barlow', sans-serif;
  color: #3A260C;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
}

h3 {
  font-family:'Barlow', sans-serif;
  color: #3A260C;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

h3 a {
  color: #3A260C;
  font-size: 35px;
  text-decoration: none;
  transition: color .25s;
}

h3 a:hover {
  color: white;
}

main {
  grid-column: span 12;
  margin-left: 2em;
  margin-right: 2em;
}

section {
  border: 10px solid white;
  grid-column: span 12;
}

.roundedbox1 {
  width: 900px;
  margin: 30px 0px 50px 0px;
  padding: 0px 15px 0px 15px;
  border: 3px solid white;
  background-color: #C9CFC3;
  border-radius: 10px;
}


.roundedbox2 {
  width: 800px;
  margin: 0px 0px 30px 50px;
  padding: 0px 15px 0px 15px;
  border: 3px solid white;
  background-color: #C9CFC3;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.roundedbox3 {
  width: 364px;
  margin: 40px 45px 30px 0px;
  padding: 0px 15px 0px 15px;
  border: 3px solid white;
  background-color: #C9CFC3;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  float: right;
}

input[type=text]{
  font-family:'Barlow', sans-serif;
  color: #3A260C;
  font-size: 18px;
  font-weight: 200;
  width: 940px;
  margin: 20px 0px 30px 0px;
  border: 3px solid white;
  border-radius: 10px;
  outline: none;
  box-shadow: 5px 5px 10px #000; /* x, y, blur, color */
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  transition: .5s;
}

input[type=text]:focus{
  border-color: #3A260C;
  box-shadow: 0 0 5px 0 #3A260C;
}

.roundedbox4 {
  width: 820px;
  margin: 0px 0px 30px 37px;
  padding: 0px 15px 0px 15px;
  border: 3px solid white;
  background-color: #C9CFC3;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer {
  color: #3A260C;
  grid-column: span 12;
  text-align: center;
}

audio {
  width: 500px;
  padding: 15px;
}

video {
  height: 435px;
  background-color: #C9CFC3;
  margin: 0px 0px 30px 40px;
  autoplay: none;
}

#soundcloud {
  grid-column: span 12;
}

footer {
  color: #3A260C;
  grid-column: span 12;
  text-align: center;
}

footer a {
  color: #3A260C;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  transition: color .25s;
}

footer a:hover{
  color: white;
}

p {
  color: #3A260C;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  text-align: justify;
}

#aboutmainimg {
  grid-column: span 12;
  width: 392px;
  margin: 30px 0px 30px 37px;
  border-radius: 20px;
  padding: 10px;
  background-color: #C9CFC3;
}

.cycle-slideshow {
  width: 930px;
  height: 750px;
  margin: auto;
  background: #C9CFC3;
}

.homepageslides {
  text-align: center;
  margin-bottom: 5px;
}

.homepageslides a{
  color: #3A260C;
  text-decoration: none;
  transition: color .25s;
}

.homepageslides a:hover {
  color: white;
}

#prev {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev1 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next1 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev2 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next2 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev3 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next3 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev4 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next4 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev5 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next5 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev6 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next6 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}

#prev7 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
}

#next7 {
  text-align: center;
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  font-style: italic;
  margin-left: 10px;
}
