body {
  background-image:url(Lakeith.jpg);
  background-repeat: no-repeat;
  background-color: #fdd23a;
  width: 640px;
}

p {
  color: #ff00ff;
  font-size: 30px;
  font-family: impact;
  font-weight: bold;
  margin-top: 10px;
}

.borderbottom {
  border-bottom: 4px solid #9900ff;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h1 {
  margin-bottom: 200px;
  margin-top: 0;
  color: #ff00ff;
  font-family: impact;
  font-size: 100px;
  text-align: center;
}

.red {
  color: #ff0000;
}

.red2 {
  color: #ff0000;
}

.purple {
  color: #9900ff;
}

.small {
  color: #9900ff;
  font-size: 20px;
}

.small2 {
  color: #9900ff;
  font-size: 15px;
}

a:link {
 color: #ff00ff;
 text-decoration: none;
}
a:hover {
 color: #ff0000;
 text-decoration: underline;
}

.boxmodel {
border: 1px solid #fdd23a;
font-size: 15px;
text-align: center;
padding-bottom: 10px;
padding-top: 0;
}

/* CSS */
.pwidth {
text-align: justify;
margin-top: 500px;
border-bottom: 4px solid #9900ff;
padding-bottom: 20px;
}

.imgbox {
border: 2px solid #fdd23a;
border-top: 20px;
}
